// app global css in SCSS form

.font1{
  font-family: 'Trebuchet MS';
}

.font2{
  font-family: 'Poor Richard';
}


// app global css in SCSS form

* {
  font-family: 'Roboto', sans-serif;
}

.search{
  width: 600px;

}



h3 {
  font-family: 'Comfort';
  color: goldenrod;
  text-align: center;
}

#login{
  align-items: center;
  position: center;

}

